@model IEnumerable<EmployeeManagementSystem.t_PersonalInformations>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PassportNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Passport_Exp_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nationality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Religion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maritalstatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmrName1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmrRelation1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmrPhone11)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmrPhone12)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmrName2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmrRelation2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmrPhone21)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmrPhone22)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bankname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bankaccno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IFSCCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Panno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.t_Employees.Firstname)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PassportNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passport_Exp_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Religion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Maritalstatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmrName1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmrRelation1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmrPhone11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmrPhone12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmrName2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmrRelation2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmrPhone21)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmrPhone22)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bankname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bankaccno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IFSCCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Panno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.t_Employees.Firstname)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
